body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40pt;
    display:block;
    font-family: 'Roboto', sans-serif;
}
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-image: -o-linear-gradient(rgb(0,0,0), rgb(30,30,30));
}
header h2 {
    background-color: black;
    margin-bottom: 0;
    margin-top: 0;
}

div {
    margin: 20px auto;
    
}

label {
    margin: 10px;
}
button {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 30pt;
    border-color: gold;
    box-shadow: 5px 5px 5px 0 rgba(207, 175, 55, 0.75);
}

.num {
    width: 200px;
    font-size: 30pt;
}