header {
    font-size: 5rem;
}

/* MAIN */
main {
    display: grid;
    grid-template-areas: 
    "Title Title"
    "Camus Cuadro"
    "Enganche Costilla"
    "Craps Craps"
    "Tablas Tablas";
}

h1 {
    font-size: 9rem;
    grid-area: Title;
}
h2 {
    font-size: 5rem;
}

.section_camu,
.section_cuadro,
.section_enganche,
.section_costilla {
    width: 500px;
    max-width: 500px;
    font-size: 4rem;
}
.section_camu {
    grid-area: Camus;
    display: flex;
    flex-direction: column;
}

.section_cuadro {
    grid-area: Cuadro;
    display: flex;
    flex-direction: column;
}

.section_enganche {
    grid-area: Enganche;
    display: flex;
    flex-direction: column;
}

.section_costilla {
    grid-area: Costilla;
    display: flex;
    flex-direction: column;
}

.section_craps {
    grid-area: Craps;
    max-width: 1150px;
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "C3 C212";
}
.craps_titulo {
    grid-area: Titulo;
}
#calcCraps3 {
    grid-area: C3;
}
#calcCraps212 {
    grid-area: C212;
}

/* GRID CALCULOS */
.calculadora {
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "min max"
    "generate generate"
    "calc calc"
    "result result";
}
.calculadora h3 {
    grid-area: titulo;
}
.boton_generar {
    grid-area: generate;
}
.calculadora div {
    grid-area: calc;
}
.boton_result { 
    grid-area: result;
}

label {
    margin: 1rem;
}
button {
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 3rem;
}

/* TABLA */
.section_tablas {
    max-width: 1150px;
    grid-area: Tablas;
    display: grid;
    grid-template-areas:
    "h2 h2"
    "t120 t120"
    "t140 t180";
}
.section_tablas h2 {
    grid-area: h2;
}
.tabla-120 {
    grid-area: t120;
    display: grid;
    grid-template-areas: 
    "title title title"
    "tabla1 tabla2 tabla3";
}
.tabla-120 h3 {
    grid-area: title;
}
.tabla-140 {
    grid-area: t140;
}
.tabla-180 {
    grid-area: t180;
}

.tabla-120 h2 {
    grid-area: title;
}
.tabla-container1 {
    grid-area: tabla1;
}
.tabla-container2 {
    grid-area: tabla2;
}
.tabla-container3 {
    grid-area: tabla3;
}
.tabla-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}