body {
    background-color: rgb(73, 0, 26);
    color: white;
    text-align: center;
    font-size: 40pt;
    display:block;
    font-family: 'Roboto', sans-serif;
}
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-image: -o-linear-gradient(rgb(0,0,0), rgb(30,30,30));
}
header h2 {
    background-color: rgb(48,0,20);
    margin-bottom: 0;
    margin-top: 0;
}
a {
    color: rgb(210,145,255);
}
a:visited {
    color: rgb(186,85,255);
}

div {
    margin: 20px auto;
}
.tPagos {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
}
button {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 30pt;
    border-color: gold;
    box-shadow: 5px 5px 5px 0 rgba(207, 175, 55, 0.75);
}

.num {
    width: 200px;
    font-size: 30pt;
}
.td1 {
    border: 2px solid white;
    border-top: 10px solid white;
    border-left: 10px solid white;
}
.td2 {
    border: 2px solid white;
    border-top: 10px solid white;
    border-right: 10px solid white;
}
.td3 {
    border: 2px solid white;
    border-left: 10px solid white;
}
.td4 {
    border: 2px solid white;
    border-right: 10px solid white;
}
.td5 {
    border: 2px solid white;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
}
.td6 {
    border: 2px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
}